<app-nav-encargado-taller></app-nav-encargado-taller>
<div class="row justify-content-md-center">
      <div class="col-8 mt-4">

          <table class="table table-hover">
              <thead>
                  <tr class="table-primary">
                      <th scope="col">Formato</th>
                      <th scope="col">Anexar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngIf="shw1">
                      <td>1</td>
                      <button type="button" class="btn btn-secondary" (click)="hide(1)"><td><i class="fas fa-file-archive"></i></td></button>
                  </tr>
                  <tr *ngIf="shw2">
                      <td>2</td>
                      <button type="button" class="btn btn-secondary" (click)="hide(2)"><td><i class="fas fa-file-archive"></i></td></button>
                  </tr>
                  <tr *ngIf="shw3">
                      <td>3</td>
                      <button type="button" class="btn btn-secondary" (click)="hide(3)"><td><i class="fas fa-file-archive"></i></td></button>
                  </tr>
                  <tr *ngIf="shw4">
                      <td>4</td>
                      <button type="button" class="btn btn-secondary" (click)="hide(4)"><td><i class="fas fa-file-archive"></i></td></button>
                  </tr>
                  <tr *ngIf="shw5">
                      <td>5</td>
                      <button type="button" class="btn btn-secondary" (click)="hide(5)"><td><i class="fas fa-file-archive"></i></td></button>
                  </tr>

              </tbody>
          </table>
      </div>
  </div>
