<app-nav-vendedor></app-nav-vendedor>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Buscar unidades disponibles</h3>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de salida</label>
                <input type="date" class="form-control" id="fecha" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de regreso</label>
                <input type="date" class="form-control" id="fecha" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>