<app-nav-cuadrilla-mecanicos></app-nav-cuadrilla-mecanicos>
<div class="accordion" id="accordionExample">
  <div class="card" *ngIf="shw1">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p> Unidad Numero Economico: 1 </p>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
          <p>Añada mas Servicios</p>
        </div>

        <div class="form-group" *ngIf="hide1">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="show(1)"> <i class="fas fa-plus-circle"></i> </button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="hide(1)">Registrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="shw2">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <p> Unidad Numero Economico: 4 </p>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
          <p>Añada mas Servicios</p>
        </div>

        <div class="form-group" *ngIf="hide2">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="show(2)"> <i class="fas fa-plus-circle"></i> </button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="hide(2)">Registrar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="shw3">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Unidad Numero Economico 15
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
          <p>Añada mas Servicios</p>
        </div>

        <div class="form-group" *ngIf="hide3">
          <label for="exampleInputPassword1">Tipo de Servicio</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
          <select class="form-control" id="sel1">
            <option>Selecciona uno</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40% </option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80% </option>
            <option>90%</option>
            <option>100% </option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="show(3)"> <i class="fas fa-plus-circle"></i> </button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" (click) ="hide(3)">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
